streamlit
requests
fastapi
uvicorn[standard]
pydantic
python-dotenv
langchain
langchain-community
langchain-ollama
langchain_core
chromadb
sentence-transformers
redis
requests
pymongo
python-multipart
pypdf