streamlit
requests
fastapi
python-dotenv
langchain
langchain-community
langchain-ollama
langchain_core
chromadb
sentence-transformers
redis
requests
pypdf
langchain_huggingface
langchain_chroma
docx2txt